*{
    padding: 0;
    margin: 0;
     list-style-type: none;
}

body{
    position: relative;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background: white;
    border: 2px solid whitesmoke;
}


ul {
    width: 100%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    display:flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    padding: 0px 100px;
    margin-right: 55px;
}

.tuitt-button{
    background-color:#c2195b;
    color: #fff;
    border:none;
    border-radius:25px;
    min-height:40px;
    min-width: 115px;
   
  }



}
  #logo {
    padding: 0px 75px;
  }

#bg-image {
  background-image: url('https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg');
  background-size: cover;
  background-position: center;
  height: auto;

}

.front-bg {
  background-color: rgba(0,0,0,0.5);
  height: 505px;
}

.container {
  max-width: 1505px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 205px;
  text-align: right;
  color: white;
  border: 10px;
}

.title {
  font-size: 55px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-family: none;
  width: 55%;
    margin-left:auto;

}

.subtitle {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: lighter;
  text-align: right;
    width: 40%;
    margin-left:auto;
    
}


.apply-button {
    background-color: #c2195b;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 25px;
  font-weight: bold;
  min-height:50px;
  min-width: 185px;


}

@media screen and (max-width: 1205px) {
  .container {
    padding-top: 75px;
    padding-bottom: 125px;
    text-align: center;
  }

  .title {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

  }

  .subtitle {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

  }

  .apply-button {
    font-size: 3rem;
    padding: 2rem 3rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

  }
}


.intro {
    padding-right:405px ;
    padding-left:405px ;
    padding-top: 85px;
}

  
.title-2 {
    padding-bottom: 75px; 
    text-align: center;
    font-family: none;
    font-weight: bolder;
    font-size: 35px;
    
}

.intro-description {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
}

.pre-footer {
  background-color: #f7fbfb;
  padding: 105px;
  text-align: center;
  margin-top: 105px;
}


.prefooter-description {
  font-size: 20px;
  margin-bottom: 25px;
  padding-right:305px ;
    padding-left:305px ;
}

.book-button {
    background-color:#336589;
    color: #fff;
    border:none;
    border-radius:25px;
    height:40px;
    width: 155px;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 85px;
}


footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

span {
    margin-right: 15px;
    font-weight: normal;
    font-size: 20px;
}